  :root{
    --main-color: #B5ECEB;
    --hover-color: #559B98;
  }
  
  .testImg{
    width: 55px;
    height: 55px;

    display: none;
  }
  
  
  /* TABLERO Y FILAS */

  .html, .body{ /*no va muy bien*/
    overflow: hidden;
  }

  .board{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .tablero{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    height: 80%;
    width: 100%;


    position: relative;
    margin-left: 10%;
    margin-top: 3%;

    border: 3px solid black;
    border-radius: 3%;
    }

  .fila_0, .fila_4{
    display: flex;
  }
  .fila_1, .fila_3{
    display: flex;
  }
  .fila_2{
    display: flex;
  }

/*-----------------*/

  .circulo_img{    /*circulo generico*/
      width: 55px;
      height: 55px;
  }

  .circulos_inter, .circulos_carr{
    width: 55px;
    height: 55px;
    display: none;
    /*visibility: hidden;*/
  }

  .circulos_inter:hover, .circulos_carr:hover{
    border: aqua;
    border-style: solid;
    border-width: 5px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }

/*-----------------*/ 
/*BARRA DE ACCIONES*/

  .cartasPlayer{
    /*background-color: purple;*/
    background-color: var(--main-color);

    display: flex;
    align-items: center;

    width: 80%;
    height: 80%;
    margin-left: 2%;
    overflow-x: auto;
    overflow-y: hidden;

    position: relative;
    top: 0;
    left: 0;

    border: 3px solid black;
    border-radius: 2%;
    margin-left: 1%;
    padding-left: 1%;
  }

  .rssCard{
    height: 70px;
    width: auto;
    position: relative;
    left: 0;
    margin: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rssCard:hover{
    width: 70px;
    height: 80px;
  }

  .devCards{
    /*background-color: aqua;*/
    background-color: var(--main-color);

    display: flex;
    align-items: center;

    width: 20%;
    height: 80%;

    overflow-x: auto;
    overflow-y: hidden;

    position: relative;
    top: 0;
    left: 0;

    border: 3px solid black;
    border-radius: 2%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
  }

  .acciones{
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 0;

    margin-right: 15%;
    margin-left: 2%;
  }

  .barraAcciones{
    width: 100%;
    /*background-color: green;*/
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 2.5%;

  }

  .icon{
    height: 70px;
    width: 70px;
    margin: 5px;
    
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid black;
    border-radius: 3%;
  }
  .icon:hover{
    background-color: var(--hover-color);
  }

  .icon_img{
    height: 90%;
    width: auto;
  }
  
  .icon_img:hover{
    height: 100%;
    width: auto;
  }

  .iconC_img{
    width: 90%;
    height: auto;
  }
  
  .iconC_img:hover{
    width: 98%;
    height: auto;
  }

  .iconSC_img{
    height: 80%;
    width: auto;
  }

  .iconSC_img:hover{
    height: 92%;
    width: auto;
  }


/*-----------------*/
/* IMGS DE PIEZAS */

 .img_carr{
   height: 12px;
   width: auto;
   display: none;

   position: absolute;
   z-index: 40;

   transform: rotate(90deg);
 }

 .img_pob{
   height: 27px;
   width: auto;

   display: none;
   position: absolute;
 }

 .img_city{
  height: 30px;
  width: 21px;

  display: none;
  position: absolute;
 }

/*-----------------*/
/* TABLA INFO */

 .tabla_Info{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;

   flex-direction: column;

   background-color: var(--main-color);
   height: 70%;
   width: 25%;
   top: 8%;
   left: 55%;

   border: 3px solid black;
   border-radius: 3%;
 }

 .fila_Info{
   display: flex;
   align-items: center;
   justify-content: center;

   flex-direction: row;

   background-color: #E0FD9C;

   height: 15%;
   width: 90%;
   margin: 1%;

   border: 3px solid black;
 }

 #titulo_info{
  height: 8%;
  border: 3px solid black;
  border-radius: 3%;
 }

 .columna_Info{
   display: flex;

   justify-content: center;
   align-items: center;
   flex-direction: column;

   height: 100%;
   width: 20%;

   margin: 0.5%;
 }

 #special_info{
  font: 200% sans-serif;
  font-weight: 700;
 }

 .icon_info{
   height: auto;
   width: 70%;
   margin-top: 5%;
   margin-bottom: 6%;
  }

 .parte_sup{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--main-color);

  position: relative;
  top: 1%;
  height: 50%;
  width: 50%;
  border: 3px solid black;
  border-radius: 10%;
 }

 #red_color{
   background-color: red;
 }

 #blue_color{
  background-color: blue;
 }

 #green_color{
  background-color: green;
 }

 #white_color{
  background-color: white;
 }

 .parte_inf{
  
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 20%;

  margin-top: 10%;
  /*background-color: rgb(201, 118, 212);*/
 }

 #nombre_info{
   font: 100% sans-serif;
   font-weight: 700;
 }

 .card_Info{
   height: 80%;
   width: auto;
 }


 /*
 .card_Info:hover{
   position: absolute;
   top: 0;
   left: -160%;
 }
 */

 /*-----------------*/
 /* TRADE */
 .tradeContainer{
    position: absolute;
    height: 250px;
    width: 400px;
    z-index: 10;

    display: none;
    align-items: center;
    justify-content: center;

    top: 35%;
    left: 35%;

    border: 3px solid black;
    border-radius: 3%;

    background-color: var(--main-color);
 }

 .tradeOption{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90px;
    width: 90px;
    margin: 10%;

    background-color: white;

    border: 3px solid black;
    border-radius: 3%;
 }

 .tradeOption:hover{
    background-color: var(--hover-color);
 }

 .cancel{
    position: absolute;
    top: 2%;
    right: 1.5%;
    height: 25px;
    width: 25px;
 }

 .cancel:hover{
  height: 30px;
  width: 30px;
 }

 #cancel_img{
   height: 100%;
   width: 100%;
 }

 .tradeOption_img{
  height: 100%;
  width: 100%;
 }

 #img_bank{
   height: 90%;
   width: auto;
 }

 /*-----------------*/
 /*BG POP*/

 .bgPop{
    display: none;

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background-color: black;
    opacity: 70%;
 }


 /*-----------------*/
 /*LADRON*/

 .robber{
   height: 74px;
   width: auto;
   position: absolute;

   top: 12.5%;
   left: 26.3%;
 }
