  .testImg{
    width: 55px;
    height: 55px;

    display: none;
  }
  
  
  /* TABLERO Y FILAS */

  .html, .body{ /*no va muy bien*/
    overflow: hidden;
  }

  .board{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .tablero{
    background-color: rgb(165, 234, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    height: 80%;
    width: 100%;


    position: relative;
    /*margin-left: 37%;*/
    }

  .fila_0, .fila_4{
    display: flex;
  }
  .fila_1, .fila_3{
    display: flex;
  }
  .fila_2{
    display: flex;
  }

/*-----------------*/

  .circulo_img{    /*circulo generico*/
      width: 55px;
      height: 55px;
  }

  .circulos_inter, .circulos_carr{
    width: 55px;
    height: 55px;
    display: none;
    /*visibility: hidden;*/
  }

  .circulos_inter:hover, .circulos_carr:hover{
    border: aqua;
    border-style: solid;
    border-width: 5px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }

/*-----------------*/ 
/*BARRA DE ACCIONES*/

  .cartasPlayer{
    background-color: purple;

    display: flex;

    width: 80%;
    height: 100%;
    margin-left: 2%;
    overflow: auto;

    position: relative;
    top: 0;
    left: 0;

    border: 3px solid blue;
    margin-left: 1%;
  }

  .rssCard{
    width: 55.86px;
    height: 82.593px;
    position: relative;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rssCard:hover{
    width: 70px;
    height: 95px;
  }

  .devCards{
    background-color: aqua;
    display: flex;

    width: 20%;
    height: 100%;

    overflow: auto;

    position: relative;
    top: 0;
    left: 0;

    border: 3px solid blue;
    margin-left: 1%;
    margin-right: 1%;
  }

  .acciones{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 0;

    margin-right: 15%;
    margin-left: 2%;
  }

  .barraAcciones{
    width: 100%;
    background-color: green;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 2.5%;

  }

  .icon{
    height: 70px;
    width: 70px;
    margin: 5px;
    
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .icon:hover{
    background-color: orange;
  }

/*-----------------*/
/* IMGS DE PIEZAS */

 .img_carr{

   height: 12px;
   width: auto;

   display: none;

   position: absolute;
   z-index: 40;

   /*transform: rotate(-30deg);*/
   transform: rotate(90deg);
   /*transform: rotate(30deg);*/
 }


